.table-responsive
  %table.table.table-striped
    %thead.thead-default
      %tr
        %th #
        %th Título
        %th Usuário
        %th Última modificação
        %th
    %tbody
      - @terminals.each do |terminal|
        %tr
          %th{ scope: 'row' }
            = terminal.id
          %td
            = terminal.title
          %td
            = terminal.user.email
          %td
            = I18n.l(terminal.updated_at, format: :long)
          %td.text-center.td-button
            = link_to 'Editar', edit_admin_terminal_path(terminal), class: 'btn btn-raised btn-sm btn-warning no-margin'
            = link_to 'Excluir', admin_terminal_path(terminal), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-raised btn-sm btn-danger no-margin'
