= form_for([:panel, @video], html: { multipart: true , class: 'form-horizontal' }) do |f|
  %fieldset
    %legend
      = legend

  = render 'error_messages'
  .form-group
    = f.label :title, 'Título', class: 'control-label col-xs-2'
    .col-xs-10
      = f.text_field :title, placeholder: 'Título', class: 'form-control'
      %p.help-block
        Limite máximo de 45 caracteres
  .form-group
    = f.label :description, ' Descrição', class: 'control-label col-xs-2'
    .col-xs-10
      = f.text_area :description, placeholder: 'Descrição', class: 'form-control', rows: 5
      %p.help-block
        Limite máximo de 255 caracteres
  .form-group
    %label{ id: 'input-file-label', for: 'video-file', class: 'control-label col-xs-2' }
      Arquivo
    #input-file.col-xs-10
      = f.file_field :file, id: 'video-file', accept: 'video/mp4'
      .input-group
        %input.form-control{ placeholder: 'Procurar...', readonly: '', type: 'text' }/
        %span.input-group-btn.input-group-sm
          %button.btn.btn-fab.btn-fab-mini{ type: 'button' }
            %i.material-icons attach_file
  .form-group.text-center
    = link_to panel_videos_path, class: 'btn btn-raised btn-danger margin-sides-15' do
      Cancelar
    = f.submit class: 'btn btn-raised btn-success margin-sides-15'

:javascript
  $('#video-file').bind('change', function() {
    var size_in_gigabytes = this.files[0].size/1024/1024/1024;
    if (size_in_gigabytes > 1) {
      alert('Tamanho máximo de um arquivo é 1GB. Por favor, escolha um arquivo menor.');
    }
  });
