.table-responsive
  %table.table.table-bordered
    %thead.thead-default
      %tr
        %th #
        %th Título
        %th Última edição
        %th # Mídias
        %th # Terminais
        %th
    %tbody
      - @playlists.each do |playlist|
        %tr
          %th{ scope: 'row' }
            = playlist.id
          %td
            = playlist.title
          %td
            = I18n.l(playlist.updated_at, format: :long)
          %td
            = playlist.playlist_items.size
          %td
            = playlist.terminals.size
          %td.text-center.td-button
            = link_to 'Editar', edit_panel_playlist_path(playlist), class: 'btn btn-raised btn-sm btn-warning no-margin'
            = link_to 'Excluir', panel_playlist_path(playlist), method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-raised btn-sm btn-danger no-margin'
