- provide(:title, 'Nova Playlist')

= form_for([:panel, @playlist], html: { class: 'form-horizontal' }) do |f|

  = render partial: 'shared/error_messages', locals: { resource: @playlist }
  .col-md-8.col-md-offset-2.override-well
    .well
      %fieldset
        %legend
          Informações

      .form-group
        = f.label :title, 'Título', class: 'control-label col-xs-2'
        .col-xs-10
          = f.text_field :title, placeholder: 'Título', class: 'form-control', autofocus: true
          %p.help-block
            Limite máximo de 45 caracteres
      .form-group
        = f.label :description, ' Descrição', class: 'control-label col-xs-2'
        .col-xs-10
          = f.text_area :description, placeholder: 'Descrição', class: 'form-control', rows: 5
          %p.help-block
            Limite máximo de 255 caracteres

  .col-md-8.col-md-offset-2.override-well
    .well
      %fieldset
        %legend
          .row
            .col-xs-6
              Mídias
            .col-xs-6.text-right
              %a.btn.btn-raised.btn-success.no-margin
                Adicionar Mídia

      #list-medias.list-group
        .list-group-item
          .row-action-primary
            %i.material-icons folder
          .row-content
            .least-content 15m
            %h4.list-group-item-heading Tile with a label
            %p.list-group-item-text Donec id elit non mi porta gravida at eget metus.
          .list-group-separator
        .list-group-item
          .row-action-primary
            %i.material-icons folder
          .row-content
            .least-content 15m
            %h4.list-group-item-heading Tile with a label
            %p.list-group-item-text Donec id elit non mi porta gravida at eget metus.
          .list-group-separator

  .col-md-8.col-md-offset-2.override-well
    .well
      %fieldset
        %legend
          Terminais

      .list-group
        .list-group-separator
        - current_user.terminals.each do |terminal|
          .list-group-item
            .row-action-primary
              .checkbox
                %label
                  %input{type: 'checkbox'}/
            .row-content
              %h4.list-group-item-heading
                = terminal.title
              %p.list-group-item-text
                %b Playlist atual:
                - if terminal.playlist
                  = terminal.playlist.title
                - else
                  Não possui playlist
          .list-group-separator

    .form-group.text-center
      = link_to panel_playlists_path, class: 'btn btn-raised btn-danger margin-sides-15' do
        Cancelar
      = f.submit class: 'btn btn-raised btn-success margin-sides-15'
