%nav.navbar.navbar-default.navbar-fixed-top.navbar-admin
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ 'data-target' => '.navbar-ex-collapse', 'data-toggle' => 'collapse', type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to admin_root_path, class: 'navbar-brand' do
        = image_tag('myscreen-white.svg', alt: 'MyScreen', size: '155x40')
    %ul.nav.top-nav.navbar-right
      %li
        = link_to admin_profile_path, class: 'admin-name', 'data-original-title': 'Editar perfil', 'data-placement': 'bottom', 'data-toggle': 'tooltip' do
          %i.material-icons perm_identity
          = truncate(current_user.name, length: 20)
      %li.full-screen
        %a{ href: '', class: 'brown toggle-fullscreen', 'data-original-title': 'Tela cheia', 'data-placement': 'bottom', 'data-toggle': 'tooltip' }
          %i.material-icons settings_overscan
      %li
        = link_to destroy_user_session_path, id: 'exit', method: 'delete', class: 'brown', 'data-original-title': 'Sair', 'data-placement': 'bottom', 'data-toggle': 'tooltip' do
          %i.material-icons power_settings_new
  = render 'layouts/admin/sidebar'
