= form_for([:admin, @image], html: { multipart: true , class: 'form-horizontal' }) do |f|
  %fieldset
    %legend
      = legend

  = render 'error_messages'
  .form-group
    = f.label :title, 'Título', class: 'control-label col-xs-2'
    .col-xs-10
      = f.text_field :title, placeholder: 'Título', class: 'form-control'
  .form-group
    = f.label :description, ' Descrição', class: 'control-label col-xs-2'
    .col-xs-10
      = f.text_field :description, placeholder: 'Descrição', class: 'form-control'
  %span.form-group
    %label{ for: 'myFile', class: 'control-label col-xs-2' }
      Arquivo
    .col-xs-10
      %input.form-control{placeholder: 'Procurar...', readonly: '', type: 'text'}/
      = f.file_field :file, id: 'myFile'
  .form-group.text-center
    = f.submit 'Criar imagem', class: 'btn btn-raised btn-success'
