= form_for([:admin, @image], html: { multipart: true }) do |f|

  .field
    = f.label :title, 'Título'
    = f.text_field :title
  .field
    = f.label :description, ' Descrição'
    = f.text_field :description
  %span.file
    = f.file_field :file
  .actions
    = f.submit
