= form_for([:admin, @image], html: { multipart: true , class: 'form-horizontal' }) do |f|
  %fieldset
    %legend
      = legend

  = render 'error_messages'
  .form-group
    = f.label :title, 'Título', class: 'control-label col-xs-2'
    .col-xs-10
      = f.text_field :title, placeholder: 'Título', class: 'form-control'
  .form-group
    = f.label :description, ' Descrição', class: 'control-label col-xs-2'
    .col-xs-10
      = f.text_area :description, placeholder: 'Descrição', class: 'form-control', rows: 5
  %span.form-group
    %label{ id: 'input-file-label', for: 'picture-file', class: 'control-label col-xs-2' }
      Arquivo
    #input-file.col-xs-10
      %input.form-control{placeholder: 'Procurar...', readonly: '', type: 'text'}/
      = f.file_field :file, id: 'picture-file', accept: 'image/jpeg,image/png'
  .form-group.text-center
    = f.submit class: 'btn btn-raised btn-success'

:javascript
  $('#picture-file').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 4) {
      alert('Tamanho máximo de um arquivo é 4MB. Por favor, escolha um arquivo menor.');
    }
  });
