!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    %meta{:name => "description", :content => ""}/

    %title
      = full_title(yield(:title))

    %link{:href => "//fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .header.clearfix
        %nav
          %ul.nav.nav-pills.pull-right
            %li{ role: 'presentation' }
              %a{ href: '/' } Sobre
            %li{ role: 'presentation' }
              - if current_user && current_user.admin?
                = link_to admin_root_path do
                  Painel Admin
              - elsif current_user
                = link_to panel_root_path do
                  Painel
              - else
                = link_to new_user_session_path do
                  Login
        %h3 MyScreen
      %hr

      = render 'shared/messages'
      = yield

      %hr
      %footer.text-right
        © 2016 MyScreen
